body {
  font-family: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  margin: 0;
  padding: 0;
}
body .header {
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  border-bottom: 1px #e5e5e5;
}
body .header .header-inside {
  width: 960px;
  height: 100%;
  margin: auto;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px #e5e5e5;
}
body .header .header-inside .octicon-mark-github {
  font-size: 25px;
  margin: 10px;
  float: left;
}
body .header .header-inside .search {
  float: left;
  width: 30%;
  height: 30px;
  margin-top: 4px;
  padding-right: 15px;
}
body .header .header-inside .search .search-field {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  width: 100%;
  float: left;
  height: 30px;
}
body .header .header-inside .search .search-field input {
  color: #bcbcbc;
}
body .header .header-inside .links .explore,
body .header .header-inside .links .gist,
body .header .header-inside .links .blog,
body .header .header-inside .links .help {
  float: left;
  padding-right: 10px;
  line-height: 50px;
  font-weight: bold;
}
body .header .header-inside .account {
  float: right;
  width: 30%;
}
body .header .header-inside .account .links {
  width: 100px;
  float: left;
}
body .header .header-inside .account .avatar,
body .header .header-inside .account .user-name,
body .header .header-inside .account .octicon-plus,
body .header .header-inside .account .octicon-inbox,
body .header .header-inside .account .octicon-gear,
body .header .header-inside .account .octicon-sign-out {
  float: left;
  line-height: 50px;
  padding-right: 10px;
  padding-left: 10px;
}
body .header .header-inside .account .avatar img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: 14px;
  margin-right: -15px;
}
body .container {
  width: 100%;
  margin: auto;
  margin-top: -50px;
}
body .container .main {
  width: 960px;
  margin-right: 5px;
  margin: auto;
}
body .container .main .sidebar {
  width: 230px;
  float: left;
}
body .container .main .sidebar .large-avatar img {
  width: 230px;
  height: 230px;
  border-radius: 5px;
}
body .container .main .sidebar .name {
  font-size: 35px;
  font-weight: bold;
  margin: 5px;
  color: #333333;
}
body .container .main .sidebar .user-name2 {
  font-size: 25px;
  font-weight: 100;
  color: #666666;
  margin: 5px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
}
body .container .main .sidebar .city,
body .container .main .sidebar .date {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 14px;
}
body .container .main .sidebar .city {
  padding-top: 15px;
  margin-bottom: 8px;
}
body .container .main .sidebar .date {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
body .container .main .sidebar .octicon-location,
body .container .main .sidebar .octicon-clock {
  color: #cccccc;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}
body .container .main .sidebar .stats {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 70px;
}
body .container .main .sidebar .stats .followers,
body .container .main .sidebar .stats .starred,
body .container .main .sidebar .stats .following {
  float: left;
  display: inline-block;
  text-align: center;
  width: 33%;
  font-size: 11px;
}
body .container .main .sidebar .stats .value {
  font-weight: bold;
  font-size: 24px;
  color: #4183C4;
  margin-bottom: 0px;
  margin-top: 10px;
}
body .container .main .sidebar .stats .text {
  margin-top: 8px;
}
body .container .main .sidebar .organizations {
  font-size: 15px;
  font-weight: bold;
  margin-top: 17px;
}
body .container .main .sidebar .organizations .org-icon img {
  width: auto;
  height: 42px;
  padding: 10px;
  padding-left: 0px;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}
body .container .main .content {
  width: calc(100% - 270px);
  float: left;
  margin-left: 20px;
}
body .container .main .content .content-header-upper {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #cccccc;
}
body .container .main .content .content-header-upper .nav-tabs {
  margin: 0 0 15px;
}
body .container .main .content .content-header-upper .nav-tabs .contributions,
body .container .main .content .content-header-upper .nav-tabs .repositories,
body .container .main .content .content-header-upper .nav-tabs .public-activity {
  float: left;
  display: inline-block;
}
body .container .main .content .content-header-upper .nav-tabs .contributions span,
body .container .main .content .content-header-upper .nav-tabs .repositories span,
body .container .main .content .content-header-upper .nav-tabs .public-activity span {
  display: inline-block;
  padding: 8px 12px 7px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom: 0;
}
body .container .main .content .content-header-upper .edit {
  border: 1px solid #cccccc;
  float: right;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
}
body .container .main .content .content-header-upper .edit .octicon-pencil {
  margin-left: 5px;
}
body .container .main .content .content-header-upper .edit span {
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}
body .container .main .content .content-header-lower {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #cccccc;
}
body .container .main .content .content-header-lower .search-box {
  width: 30%;
  float: left;
  height: 30px;
}
body .container .main .content .content-header-lower .search-box input {
  color: #bcbcbc;
}
body .container .main .content .content-header-lower .search-box .search-field {
  height: 30px;
  border-radius: 3px;
}
body .container .main .content .content-header-lower .repo-filters {
  padding: 0;
  marging-bottom: 0;
}
body .container .main .content .content-header-lower .repo-filters li {
  position: relative;
  float: left;
  list-style: none;
  margin-left: 10px;
  font-size: 14px;
}
body .container .main .content .content-header-lower .repo-filters a {
  color: #4183c4;
  text-decoration: none;
}
body .container .main .content .content-header-lower .new-btn {
  padding-top: 8px;
}
body .container .main .content .content-header-lower .new-btn .octicon-repo {
  border: 1px solid;
  border-radius: 3px;
  float: right;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bolder;
  color: white;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
}
body .container .main .content .main-repos {
  list-style: none;
}
body .container .main .content .main-repos .repo-contain {
  display: block;
  height: 100px;
  border-bottom: 1px solid #eee;
  padding-top: 30px;
}
body .container .main .content .main-repos .repo-contain .repo-info {
  float: left;
}
body .container .main .content .main-repos .repo-contain .repo-info .repo-title {
  margin: 0 0 8px;
  font-size: 20px;
  color: #4183c4;
  line-height: 1.2;
}
body .container .main .content .main-repos .repo-contain .repo-info .repo-desc {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
  color: #666;
}
body .container .main .content .main-repos .repo-contain .repo-info .repo-update {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  color: #888;
}
body .container .main .content .main-repos .repo-contain .file-icons {
  float: right;
  color: #cccccc;
}
body .container .main .content .main-repos .repo-contain .file-icons ul {
  list-style: none;
}
body .container .main .content .main-repos .repo-contain .file-icons ul li {
  display: inline;
  margin-right: 10px;
}
body .container .footer {
  clear: both;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  margin: auto;
  width: 960px;
}
body .container .footer .footer-links-left {
  float: left;
  margin-left: -40px;
}
body .container .footer .footer-links-left li {
  list-style: none;
  display: inline;
  float: left;
  line-height: 16px;
  padding-right: 15px;
}
body .container .footer .footer-links-left li a {
  text-decoration: none;
  color: #4183c4;
}
body .container .footer .octicon-mark-github {
  color: #ccc;
  float: left;
  margin-left: 165px;
  font-size: 25px;
}
body .container .footer .footer-links-right {
  float: right;
}
body .container .footer .footer-links-right li {
  list-style: none;
  display: inline;
  float: left;
  line-height: 16px;
  padding-left: 15px;
}
body .container .footer .footer-links-right li a {
  text-decoration: none;
  color: #4183c4;
}
