//    header BG              #f5f5f5  
//    header border bottom   #e5e5e5     
//    search bar border      #cccccc     
//    search box inner text  #a9a9a9     
//    git icons, nav text, 
//    any dark headers       #333333     
//    profile name           #696969     
//    blue text #4484c2     
//    tabs - not clicked     #666666 
//    left side 230px
//    img 230 x 230

body {
  font-family: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  margin: 0;
  padding: 0;
  .header{
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    border-bottom: 1px #e5e5e5;
    .header-inside{
      width: 960px;
      height: 100%;
      margin: auto;
      margin-bottom: 10px;
      background-color: #f5f5f5;
      border-bottom: 1px #e5e5e5;
        .octicon-mark-github {
          font-size: 25px;
          margin: 10px;
          float: left;
          // padding-left: 25px;
          // padding-right: 25px;
        }
        .search {
          float: left;
          width: 30%;
          height: 30px;
          margin-top: 4px;
          padding-right: 15px;
          .search-field {
            border: 1px solid #d0d0d0;
            border-radius: 3px;
            // background-color: #fcfcfc;
            width: 100%;
            float: left;
            height: 30px;
              input {
                color: #bcbcbc;
              }
            }
          }
        .links {
          .explore, .gist, .blog, .help {
            float: left;
            padding-right: 10px;
            line-height: 50px;
            font-weight: bold;
          }
        }
      .account {
        float: right;
        width: 30%;
        .links {
        width: 100px;
        float: left;
        }
        .avatar, .user-name, .octicon-plus, .octicon-inbox, .octicon-gear, .octicon-sign-out  {
          float: left;
          line-height: 50px;
          padding-right: 10px;
          padding-left: 10px;
        }
        .avatar img{
          width: 20px;
          height: 20px;
          border-radius: 5px;
          margin-top: 14px;
          margin-right: -15px;
        } 
      }
    }//header inside
  }

//container
  .container {
    width: 100%;
    margin: auto;
    margin-top: -50px;

//contains sidebar and repo info
    .main {
      // height: 100%;
      width: 960px;
      margin-right: 5px;
      margin: auto;
//sidebar
      .sidebar {
        width: 230px;
        float: left;
        .large-avatar img {
          width: 230px;
          height: 230px;
          border-radius: 5px;
        }
        .name {
          font-size: 35px;
          font-weight: bold;
          margin: 5px;
          color: #333333;
        }
        .user-name2 {
          font-size: 25px;
          font-weight: 100;
          color: #666666;
          margin: 5px;
          border-bottom: 1px solid #cccccc;
          padding-bottom: 15px;
        }
        .city, .date {
          width: 100%;
          overflow-x: hidden;
          white-space: nowrap;
          font-size: 14px;
          // border-top: 1px solid #eee;
        }
        .city {
          padding-top: 15px;
          margin-bottom: 8px; 

        }
        .date {
          border-bottom: 1px solid #eee;
          padding-bottom: 15px; 
        }
        .octicon-location, .octicon-clock {
          color: #cccccc;
          float: left;
          margin-left: 5px;
          margin-right: 10px;
        }
        .stats {
          margin-bottom: 10px;
          padding-top: 15px;
          padding-bottom: 15px;
          text-align: center;
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee;
          height: 70px;
          .followers, .starred, .following {
            float: left;
            display: inline-block;
            text-align: center;
            width: 33%;
            font-size: 11px;
          }
          .value {
            font-weight: bold;
            font-size: 24px;
            color: #4183C4;
            margin-bottom: 0px;
            margin-top: 10px;
          }
          .text {
            margin-top: 8px;
          }
        }
        .organizations {
          font-size: 15px;
          font-weight: bold;
          margin-top: 17px;
          .org-icon img {
            width: auto;
            height: 42px;
            padding: 10px;
            padding-left: 0px;
            display: inline-block;
            overflow: hidden;
            line-height: 1;
            vertical-align: middle;
            border-radius: 3px;
          }
        }
      }//sidebar

//content upper header
      .content {
        width: calc(~"100% - 270px");
        float: left;
        margin-left: 20px;
        .content-header-upper {
          width: 100%;
          height: 35px;
          line-height: 35px;
          border-bottom: 1px solid #cccccc;
          .nav-tabs {
            margin: 0 0 15px;
            .contributions, .repositories, .public-activity {
            float: left;
            display: inline-block;
              span {
                display: inline-block;
                padding: 8px 12px 7px;
                font-size: 14px;
                line-height: 20px;
                color: #666;
                text-decoration: none;
                border: 1px solid transparent;
                border-bottom: 0;
              }
            }
          }
          .edit {
            border: 1px solid #cccccc;
            float: right;
            border-radius: 5px;
            height: 25px;
            line-height: 25px;
            .octicon-pencil {
              margin-left: 5px;
            }
            span {
             margin-right: 5px; 
             font-size: 12px;
             font-weight: bold;
            }
          }
        }//content-header-upper

//content lower header
        .content-header-lower {
          width: 100%;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #cccccc;
          .search-box {
            float: left;
            width: 30%;
            float: left;
            height: 30px;
              input {
                color: #bcbcbc;
              }
            .search-field {
              height: 30px;
              border-radius: 3px;
            }
            // .search-button {

            // }
          }
          .repo-filters {
            padding: 0;
            marging-bottom: 0;
            li {
              position: relative;
              float: left;
              list-style: none;
              margin-left: 10px;
              font-size: 14px;
            }
            a{
              color: #4183c4;
              text-decoration: none;
            }
          } 
          // div {
          //   float:left;
          //   margin-right: 10px;
          // }
          .new-btn {
            padding-top: 8px;
            .octicon-repo {
              border: 1px solid;
              border-radius: 3px;
              float: right;
              width: 60px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              font-size: 12px;
              font-weight: bolder;
              color: white;
              background-image: linear-gradient(#8add6d, #60b044);
              background-repeat: repeat-x;
              border-color: #5ca941;
            }
          }
        }//content-header-lower

//main repo area
        .main-repos {
          list-style: none;
          .repo-contain {
            display: block;
            height: 100px;
             border-bottom: 1px solid #eee;
             padding-top: 30px;
            .repo-info {
              float: left;
              .repo-title {
                margin: 0 0 8px;
                font-size: 20px;
                color: #4183c4;
                line-height: 1.2;
              }
              .repo-desc {
                margin-top: 8px;
                margin-bottom: 0;
                font-size: 14px;
                color: #666;
              }
              .repo-update {
                margin-top: 8px;
                margin-bottom: 0;
                font-size: 13px;
                color: #888;
              }
            }
            .file-icons{ 
              float: right;
              color: #cccccc;
              ul {
                list-style: none;
                li {
                display: inline;
                margin-right: 10px;
                }
              }
            }
          }
        }//main-repos
      }//content
    }//main

//footer
      .footer {
        clear: both;
        margin-top: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 12px;
        line-height: 1.5;
        color: #777;
        border-top: 1px solid #eee;
        margin: auto;
        width: 960px;
//footer links left
      .footer-links-left {
        float: left;
        // margin: auto;
        margin-left: -40px;
        li {
        list-style: none;
        display: inline;
        float: left;
        line-height: 16px;
        padding-right: 15px; 
          a{
            text-decoration: none;
            color: #4183c4;
          }
        }
      }
      .octicon-mark-github {
        color: #ccc;
        float: left;
        margin-left: 165px;
        font-size: 25px;
      } 

//footer links right
      .footer-links-right {
        float: right;
        // margin: 5px;
        li {
        list-style: none;
        display: inline;
        float: left;
        line-height: 16px;
        padding-left: 15px;
          a{
            text-decoration: none;
            color: #4183c4;
          }
        }
      }
    }
  }//container
}//body